@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jokes By Dan</h1>
    <p>Learn about me at <a href="https://github.com/Tuzosdaniel12">My GitHub</a>.</p>
    <iframe src="https://giphy.com/embed/RLmnbwgL9FCm2s0DzH" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/DesusAndMeroOnShowtime-showtime-desus-and-mero-late-night-RLmnbwgL9FCm2s0DzH">via GIPHY</a></p>
</div>
